<a href="https://colab.research.google.com/github/datascience-1100/Lists-in-Python/blob/main/List_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#List definition- built in data type
L=[1,2,3,4,5,6, 'python']
print(L)

[1, 2, 3, 4, 5, 6, 'python']

In [ ]:
#Heterogeneous- Diff types of data can be stored

In [ ]:
#How array works
#mechanism behind the list
#int array [4]
L=[1,2,3,4]
print(id(L))
print(id(L[0]))
print(id(1))
print(id(L[1]))
print(id(2))

133604296664192
133605577572592
133605577572592
133605577572624
133605577572624

In [ ]:
#Array vs List
1. Fixed vs Dynamic
2. Homogeneous vs Heterogeneous
3. Speed of Execution
4. Memory

In [ ]:
#List is known as Referential array

In [ ]:
#Create a list

In [ ]:
#Empty List
print([])
a=[]
print(a)

[]
[]

In [ ]:
#1D list
# 1D Homogeneous
print([1, 2, 3, 4])
print(["ab",'bc','cd'])
#1D Heterogeneous
print([1, 'Python'])

In [ ]:
#2D Heterogeneous
print([1, 2, 3, [4, 5]])
print([[1,3],[2,4]])
print([1,1.5], 2.3)

In [ ]:
# 3D
print([[1, 2], [3, 4], [5, 6], [7, 8]])

[[1, 2], [3, 4], [5, 6], [7, 8]]

In [ ]:
_3Dlist = [
    [
        [1, 2, 3],
        [4, 5, 6]
    ],
    [
        [7, 8, 9],
        [10, 11, 12]
    ]
]

print(_3Dlist)

In [ ]:
# Heterogeneous_list
print([1, 'two', 3.0, [4, 5], {'key': 'value'}])

In [ ]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [ ]:
a=list()
print(a)
type(a)

[]

list

In [ ]:
#Accessing
#Indexing
#positive
#negative
#Slicing

In [ ]:
#2 ways to traverse a list-  indexwise or itemwise

In [ ]:
L=[1,2,3,4,5,6]
#Indexing
print(L[2])
print(L[-1])

#Itemwise
for item in L:
  print(item)

3
6
1
2
3
4
5
6

In [ ]:
#Slicing
friend = ["harry","tom","rani","raja","ram","sam"]
print(friend[1:5])

['tom', 'rani', 'raja', 'ram']

In [ ]:
print(friend[:3])

['harry', 'tom', 'rani']

In [ ]:
print(friend[-3:])

['raja', 'ram', 'sam']

In [ ]:
l=[1, 7, 9, 11, 15, 0]
print(l[1:7])
print(l[1:7:1])
print(l[1:7:2])
print(l[-1:-5:-1]) #negative slicing. To do reverse printing
print(l[-1:-5:-2]) #Reverse printing with step size of 2
print(l[-5:-1:1]) #printing using neative indexing
print(l[-5:-1:2])

In [ ]:
L= [11,2,3,4,5]
for element in L:
    print(element)

In [ ]:
#Adding items to the list
L=[1,2,3,4]
print(L.append(5))
print(L)
L1=[]
L1=L.append(6)
print(L)

None
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [ ]:
#append
list=[[1,2,3], [4,5,6]]
newlist=[]
for i in list:#4,5,6
  for j in i:
   newlist.append(j)
print(newlist)

In [ ]:
#extend
L=[1,2,3,4]
L.extend([5,6,7])
print(L)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#insert
L.insert(1, 100)
print(L)

In [39]:
L=[[1,2,3], [4,5,6], [7,8,9]]
print(L[1][1])
print(L[2][2])
print(L[1][0])

5
9
4

In [44]:
# Example 3D list
my_3d_list = [
    [[1, 2, 3], [4, 5, 6]],
    [[7, 8, 9], [10, 11, 12]],
    [[13, 14, 15], [16, 17, 18]]
]

element = my_3d_list[0][1][2]
print(element)
print(my_3d_list[2][1][0])

6
16

In [45]:
#Operators on List
#Arithmetic Operator
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = list1 + list2
print(result)

[1, 2, 3, 4, 5, 6]

In [46]:
my_list = [1, 2, 3]
result = my_list * 3
print(result)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
#Membership Operator

In [47]:
my_list = [1, 2, 3, 4, 5]
if 3 in my_list:
    print("3 is in the list")

3 is in the list

In [49]:
my_list = [1, 2, 3, 4, 5]
if 5 not in my_list:
    print("6 is not in the list")

In [51]:
#Editing with Indexing
my_list=[1,3.5,7,9,9.6]
my_list[1]=6
print(my_list)

[1, 6, 7, 9, 9.6]

In [52]:
#Editing using slicing
my_list = [1, 3, 5, 7, 9]
my_list[1:4]=[2,3]
print(my_list)

[1, 2, 3, 9]

In [53]:
#Deleting using Indexing
my_list = [1, 2, 3, 4, 5]
del my_list
print(my_list)

NameError: name 'my_list' is not defined

In [54]:
#Deleting using Slicing
my_list = [1, 2, 3, 4, 5]
del my_list[1:3]
print(my_list)

[1, 4, 5]

In [59]:
#Remove
my_list = [1, 2, 3, 4, 5]
my_list.remove(1)
print(my_list)

[2, 3, 4, 5]

In [60]:
#pop()
my_list = [1, 2, 3, 4, 5]
last_element = my_list.pop()
print("Last element removed:", last_element)
print("Updated list:", my_list)

Last element removed: 5
Updated list: [1, 2, 3, 4]

In [61]:
# Removing and returning an element at a specified index
element_at_index_2 = my_list.pop(2)
print("Element removed at index 2:", element_at_index_2)
print("Updated list:", my_list)

Element removed at index 2: 3
Updated list: [1, 2, 4]

In [62]:
#clear()
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print("List after clearing:", my_list)

List after clearing: []

In [63]:
my_list = [1, 2, 3, 4, 5]
del my_list
print(my_list)

NameError: name 'my_list' is not defined

In [ ]:
my_list = [1, 2, 3, 4, 5]
del my_list
print(my_list)

In [64]:
#Basic Functions
#len()
my_list = [1, 2, 3, 4, 5]
length_of_list = len(my_list)
print(length_of_list)

5

In [65]:
#max()
my_list = [1, 3, 5, 7, 9]
max_element = max(my_list)
print("Maximum element in the list:", max_element)

Maximum element in the list: 9

In [66]:
my_list = [1, 3, 5, 7, 9]
min_element = min(my_list)
print("Minimum element in the list:", min_element)

Minimum element in the list: 1

In [68]:
#count()
my_list = [1, 2, 3, 4, 2, 2, 5]

# Counting the number of occurrences of a specific element
a = my_list.count(5)
print("Number of occurrences of 2:", a)

Number of occurrences of 2: 1

In [70]:
#index()
my_list = [1, 2, 3, 4, 2, 5]

# Finding the index of a specific element
index_of_two = my_list.index(5)
print("Index of first occurrence of 2:", index_of_two)

Index of first occurrence of 2: 5

In [72]:
#reverse()
my_list = [1, 2, 3, 4, 5, 90, 35]

# Reversing the list
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [35, 90, 5, 4, 3, 2, 1]

In [87]:
#sort() vs sorted()- sorts a list but works in a different way
my_list = [3, 1, 10, 1, 5, 9, 2]
my_list.sort()
print("Sorted list using sort():", my_list)
print(my_list.sort())

Sorted list using sort(): [1, 1, 2, 3, 5, 9, 10]
None

In [89]:
my_list = [3, 1, 4, 1, 5, 9, 2]
sorted_list = sorted(my_list)
print("Sorted list using sorted():", sorted_list)
print(my_list)

Sorted list using sorted(): [1, 1, 2, 3, 4, 5, 9]
[3, 1, 4, 1, 5, 9, 2]

In [ ]:
#List Comprehension
#new_list = [expression for item in iterable if condition]

In [146]:
a=[4,6,8,2,4,9,40]
b=[item*item for item in a if item>5]
print(b)

[36, 64, 81, 1600]

In [151]:
list=[[1,2,3], [4,5,5]]
list2 =[j for i in list for j in i]
print(list2)

[1, 2, 3, 4, 5, 5]

In [153]:
numbers = [1, 2, 3, 4, 5]
squares = [num ** 2 for num in numbers if num % 2 == 0]
print(squares)

[4, 16]

In [154]:
# Convert a list of strings to integers
str_list = ['1', '2', '3', '4']
int_list = [int(x) for x in str_list]
print(int_list)

[1, 2, 3, 4]

In [155]:
#square all the numbers from 1 to 10
a=[i**2 for i in range(1,11)]
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [157]:
words=['I', 'love', 'Python']
b= [word.upper() for word in words]
print(b)

['I', 'LOVE', 'PYTHON']

In [167]:
words = ['p', 'lOve', 'Python']
c=[a for a in words if any(char.lower() in 'aeiou' for char in a)]
print(c)

['lOve', 'Python']

In [168]:
words = ['I', 'lOve', 'Python']
b=[len(word) for word in words]
print(b)

[1, 4, 6]

In [ ]:
#enumerate function
def remove_duplicates(input_str):
    # Use list comprehension to filter unique characters while preserving order
    return ''.join([char for i, char in enumerate(input_str) if char not in input_str[:i]])

input_string = "hello"
output_string = remove_duplicates(input_string)
print(output_string)